@import "tailwindcss";

@theme {
  --color-brand: #16a34a;
  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
}

.btn-brand {
  @apply px-4 py-2 rounded bg-[--color-brand] text-white hover:opacity-90;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  /* make the page background like the design */
  /* light beige/gray: change if you like */
  background: #f4f2f0;
  color: #213547;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
}

/* remove the old template constraints */
#app {
  min-height: 100%;
}
